.application-meta{
    width: 2296px;
    height: 110px;
    // border-bottom-width: 1px;
    // border-style: solid;
    // border-color: #cccccc;
    background-color: #ffffff;
    background-size: cover;
    font-size: 20px;
    color: #080808;
}

table {
    margin: 8px;
    font-size: 16px;
    color: #555555;
    border: 1px solid #cccccc;
    th,td{
        border: 1px solid #cccccc;
    }
}
