<ul class="nav nav-tabs nav-justified" role="tablist">
    <li [ngClass]="{'active': activeTab==='About'}" (click)="selected('About')" class="active"><a href="#" role="tab" data-toggle="tab">About</a></li>
    <li [ngClass]="{'active': activeTab==='Content History'}" (click)="selected('Content History')"><a href="#" role="tab" data-toggle="tab">Content History</a></li>
    <li [ngClass]="{'active': activeTab==='Petition ​​Information'}" (click)="selected('Petition ​​Information')"><a href="#" role="tab" data-toggle="tab">Petition ​​Information</a></li>
    <li [ngClass]="{'active': activeTab==='Attorney/Agent Information'}" (click)="selected('Attorney/Agent Information')"><a href="#" role="tab" data-toggle="tab">Attorney/Agent Information</a></li>
    <li [ngClass]="{'active': activeTab==='Continuity & Foreign Data'}" (click)="selected('Continuity & Foreign Data')"><a href="#" role="tab" data-toggle="tab">Continuity & Foreign Data</a></li>
    <li [ngClass]="{'active': activeTab==='Applicant & Inventor'}" (click)="selected('Applicant & Inventor')"><a href="#" role="tab" data-toggle="tab">Applicant & Inventor</a></li>
    <li [ngClass]="{'active': activeTab==='Address'}" (click)="selected('Address')"><a href="#" role="tab" data-toggle="tab">Address</a></li>
    <li [ngClass]="{'active': activeTab==='Fees'}" (click)="selected('Fees')"><a href="#" role="tab" data-toggle="tab">Fees</a></li>
    <li [ngClass]="{'active': activeTab==='Post Information'}" (click)="selected(9)"><a href="#" role="tab" data-toggle="tab">Post Information</a></li>
    <li [ngClass]="{'active': activeTab==='Pre-Grant Publication'}" (click)="selected('Pre-Grant Publication')"><a href="#" role="tab" data-toggle="tab">Pre-Grant Publication</a></li>
    <li [ngClass]="{'active': activeTab==='IDS Flag Clearance'}" (click)="selected('IDS Flag Clearance')"><a href="#" role="tab" data-toggle="tab">IDS Flag Clearance</a></li>
    <li [ngClass]="{'active': activeTab==='Application History'}" (click)="selected('Application History')"><a href="#" role="tab" data-toggle="tab">Application History</a></li>
    <li [ngClass]="{'active': activeTab==='Assignments'}" (click)="selected('Assignments')"><a href="#" role="tab" data-toggle="tab">Assignments</a></li>
</ul>