<header class="ex-header clearfix">
  <div class="ex-header--menu pull-left">
    <span class="ex-brand display1" [ngClass]="{'hide': menuHidden}"><strong>USPTO</strong> <span class="light">PALM</span></span>
    <i class="icon icon-bars icon-inverse icon2x" (click)="toggleMenu()"></i>
  </div>
  <div class="ex-header--buttons clearfix">
    <div class="pull-left">
      <button class="btn ex-btn__inverse">General Information <span class="caret"></span></button>
    </div>
    <div class="pull-right">
      <!-- <button class="btn ex-btn__inverse" style="padding-right: 0px;"><i class="icon icon-warning icon-inverse"></i>
        <div class="ex-header--icon-badge">2</div>
      </button> -->
      <button class="btn ex-btn__inverse"><i class="icon icon-bullhorn icon-inverse"></i></button>
      <button class="btn ex-btn__inverse"><i class="icon icon-gears icon-inverse"></i></button>
      <button class="btn ex-btn__inverse"><i class="icon icon-user margin-right-1 icon-inverse"></i>Peter Toby Brown<span
          class="caret"></span></button>
    </div>
  </div>
</header>
